.app-download{	
	min-height: 500px;
	background: #ED4C5C;
}
.stack-description{	
	margin-top: 122px;
	margin-left: 163px;
}
.stack-description__title{
	width: 445px;
	min-height: 107px;	
	color: #FFFFFF;
}
.stack-description__text{
	margin-top: 24px;
	width: 445px;	
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	color: #FFFFFF;
}
.icons{
	margin-bottom: 10px;
	width: 134px;	
	margin-top: 40px;
	display: flex;
}
.icons__android{
	margin-right: 26px;
	width: 32px;
	height: 32px;
	background: url('../img/icons/ion-logo-google-playstore.svg');
}
.icons__apple{
	margin-right: 23px;
	width: 32px;
	height: 32px;
	background: url('../img/icons/ion-logo-apple-appstore.svg');
}
.icons__windows{
	margin-right: 23px;
	margin-top: 4px;
	width: 24px;
	height: 24px;;
	background: url('../img/icons/simple-icons_windows.svg');
}
.stack-pictures{	
	position: relative;
	margin-top: 94px;
	margin-left: 81px;
	width: 533px;
	height: 311px;
}
.stack-pictures__image1{
	position: relative;	
	z-index: 1;
	margin-left: 44px;	
	border-radius: 15px;
	width: 445px;
	height: 311px;
	background: url('../img/Video_bg.jpg');
}
.stack-pictures__image2{
	opacity: 0.5;
	top: -289px;	
	position: relative;	
	border-radius: 15px;
	width: 383px;
	height: 267px;
	background: url('../img/Video_bg-1.jpg');
}
.stack-pictures__image3{
	top: -556px;
	left: 150px;
	opacity: 0.5;
	position: relative;
	border-radius: 15px;
	width: 383px;
	height: 267px;;
	background: url('../img/Video_bg3.jpg');
}